<a href="https://colab.research.google.com/github/SindhuDinesh2/Web-Scraping/blob/main/Scraping_data_from_Web_Table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
url="https://ticker.finology.in/"
r=requests.get(url)
print(r)

<Response [200]>

In [4]:
soup=BeautifulSoup(r.text,"lxml")

In [7]:
table=soup.find("table",class_="table table-sm table-hover screenertable")
#print(table)

In [8]:
header=table.find_all("th")

In [9]:
print(header)

[<th scope="col">Company</th>, <th scope="col">Price<span class="muted">Rs.</span></th>, <th scope="col">Day High<span class="muted">Rs.</span></th>]

In [10]:
titles=[]
for i in header:
    name=i.text
    titles.append(name)
print(titles)

['Company', 'PriceRs.', 'Day HighRs.']

In [12]:
df=pd.DataFrame(columns=titles)
print(df)

Empty DataFrame
Columns: [Company, PriceRs., Day HighRs.]
Index: []

In [14]:
rows=table.find_all("tr")
#print(rows)

In [22]:
for i in rows[1:]:
  #print(i)
  #print(i.text)
  data=i.find_all("td")
  #print(data)
  row=[tr.text for tr in data]
  #print(row)
  l=len(df)
  df.loc[l]=row
print(df)

                     Company  PriceRs. Day HighRs.
0                 \nZomato\n    262.34      278.70
1                   \nPCBL\n    376.90      380.00
2             \nTata Power\n    460.35      471.00
3              \nInfo Edge\n   7220.50     7327.75
4                   \nNTPC\n    419.70      426.30
5          \nSuzlon Energy\n     71.35       71.37
6     \nIndian Energy Exch\n    195.32      197.80
7         \nFSN E-Commerce\n    200.12      204.44
8                   \nGHCL\n    628.45      662.00
9   \nNeuland Laboratories\n  11077.75    11257.00
10   \nNazara Technologies\n    981.40     1034.90
11           \nDivi''s Lab\n   4991.25     5010.00
12                 \nLupin\n   1961.50     1984.00
13  \nSelan Exploratn Tech\n    977.45     1045.00
14        \nReliance Power\n     34.54       34.54

In [23]:
df.to_csv("stocks_data.csv")